
<h2>Home</h2>
    <div class="home">
        <figure class="fig">
            <img src="../img/value.jpg" alt="The Value of Money">
                <h3>The Value of Money</h3>
                <figcaption>Money in it's purest form, is nothing. 
                    It's just paper or metal, nowadays, 
                    it is digits on a screen but what it can 
                    accomplish is outstanding. Without it, 
                    we would not be able to see anything or 
                    do anything but laydown in bed. The value 
                    of money give us life.</figcaption>
        </figure>
        <figure class="fig">
            <img src="../img/food.jpg" alt="GM food">
                <h3>GM food</h3>
                <figcaption>Genetically modified foods are more popular now than ever before. 
                    This is the reason why we have tropical fruits during the 
                    coldest months of the year but the real question is: 
                    Are these foods good for you?
                </figcaption>
        </figure>
        <figure class="fig">
            <img src="../img/world.jpg" alt="World in 2100">
                <h3>The view of the world in 2100</h3>
                <figcaption>Money in it's purest form, is nothing. 
                    It's just paper or metal, nowadays, 
                    it is digits on a screen but what it can 
                    accomplish is outstanding. Without it, 
                    we would not be able to see anything or 
                    do anything but laydown in bed. The value 
                    of money give us life.</figcaption>
        </figure>
    </div>
