
<h2>Portfolio</h2>
    <div class="portfolio">    
        <figure class="port-fig">
            <img src="../img/card1.jpg" alt="Portfolio 1">
            <figcaption>Protest</figcaption>
        </figure>
        <figure class="port-fig">
            <img src="../img/card2.jpg" alt="Portfolio 2">
            <figcaption>Panning</figcaption>
        </figure>
        <figure class="port-fig">
            <img src="../img/card3.jpg" alt="Portfolio 3">
            <figcaption>Toronto</figcaption>
        </figure>
        <figure class="port-fig">
            <img src="../img/card4.jpg" alt="Portfolio 4">
            <figcaption>Train Station</figcaption>
        </figure>
        <figure class="port-fig">
            <img src="../img/card5.jpg" alt="Portfolio 5">
            <figcaption>Silhouette</figcaption>
        </figure>
        <figure class="port-fig">
            <img src="../img/card6.jpg" alt="Portfolio 6">
            <figcaption>Portrait</figcaption>
        </figure>
       
    </div>
